* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: futura;
}

.hero {
	background-image: url('background.jpg');
	width: 100%;
	height: 100vh;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 80%;
	height: 60%;    
    transform: translate(-50%, -50%);
    background-color: #fff;
	display: flex;
}


.player-0-panel,
.player-1-panel {
	width: 50%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player-0-panel {
	
}

.player-name {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.player-score {
	font-size: 3rem;
	color: #780000 ;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    /*position: absolute;*/
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
	height: 100%;
}

.player-current-label {
	font-size: 1.5rem;
}

.player-current-score {
	font-size: 1.5rem;
}

.middle-stuff {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

button {
    background: lightyellow;
    border: 1px solid black;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.5s, color 0.3s;
    width: 60%;
    align-self: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

button:hover { font-weight: 500; }

button:focus {
    outline: none;
}

.btn-new {
	
}

.btn-roll {
	order: 2;
}

.btn-hold {
	order: 3;
}

.dice {
	order: 1;
	width: 40%;
	align-self: center;

}